.page-create{
    background:linear-gradient(to bottom, 
    rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%),
     url("/public/Images/bg-create.jpg");
    background-size: cover;
    border-radius: 10px;
    min-height: 140vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color: #2454f3;
    margin-top: -5rem;
}

.access{
    position: relative;
    top: 42rem;
    left: 33rem;
    color: #fff;
    line-height: 1.5;
}

.card-1{
    background-color: #fff;
  padding: 10px 15px;
     margin-left: 60rem;
    min-height: 80vh;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba( 0, 0, 0, 0.5);
}

.logo{
    margin-left: 17rem;
}

h2{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px 0 5px;
    font-weight: 500;
    display: block;
}

input, select{
    display: block;
    padding: 10px;
    border: 1px solid #bab9ff;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 15px;
}

select{
    color: #2454f3;
    cursor: pointer;
    font-size: 14px;
    background-color: #fff;
    height: 39px;
     border: 1px solid #bab9ff;
}

input::placeholder{
     color: #2454f3;
}

.side{
    display: flex;
    gap: 15px;
}

.full-name, .location{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.phone-row{
    display: flex;
    align-items: center;
    border:  1px solid #bab9ff;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
}

.phone-row select{
  border: none;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 2px;
}

.phone-row input{
   border: none;
   padding: 10px;
   font-size: 14px;
   margin-bottom: 2px;
}

.character{
    font-size: 13px;
}

button{
    background-color: #2454f3;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


.sign-in{
    text-align: center;
    font-size: 14px;
}

.sign-in a{
    text-decoration: none;
}

.sign-in a:hover{
    text-decoration: underline;
    color: #2454f3;
}

.privacy{
    margin-top: 2rem;
    text-align: center;
}

.privacy p{
    font-size: .9rem;
}

.privacy a{
    text-decoration: none;
    cursor: pointer;
    color: #4d4af3;
    font-size: .8rem;
}

.sign{
    margin-bottom: -10px;
}
.privacy a:hover{
    text-decoration: underline;
}

@media (max-width:500px){
    
.card-1{
    padding: 7px 10px;
    max-width: 85%;
    margin-left:1rem;
    min-height: 95vh;
    margin-top: 2rem;
   }

.logo{
    margin-left: 16rem;
}

   h2{
    font-size: 2rem;
   }

label{
    margin: 10px 0 4px;
    font-size: 19px;
}

input, select{
    padding: 7px;
    font-size: 14px;
}

select{
    font-size: 13px;
}

.side{
    gap: 10px;
}

.character{
    font-size: 12px;
}

button{
    font-size: 13px;
    font-weight: bold;
}

.sign-in{
    font-size: 16px;
    margin-top: -10px;
}

.privacy p{
    font-size: 13px;
    margin-top: -1.3rem;
    margin-bottom: 2rem;
}

.privacy a{
    font-size: 12px;
}


.access{
    position: relative;
    top: 52rem;
    left: 2rem;
    font-size: 1.5rem;
}

}

@media (max-width:400px){

    .card-1{
        margin-left: 1.5rem;
        margin-top: 3rem;
    }


.access{
    position: relative;
    top: 55rem;
    left: 5rem;
    font-size: 1rem;
}


.logo{
    margin-left: 10rem;
}

.character{
    font-size: 12px;
}
.sign-in{
    font-size: 13px;
}

.privacy p{
    font-size: 12px;
}

.privacy a{
    font-size: 11px;
}
}
