.page-create{
    background: url("/public/images/bg-create.jpg");
    background-size: cover;
    border-radius: 10px;
    min-height: 140vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color: #2454f3;
    margin-top: -5rem;
}

.card{
    background-color: #fff;
    padding: 10px 15px;
    min-height: 80vh;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba( 0, 0, 0, 0.5);
}

.logo{
    margin-left: 17rem;
}

h2{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px 0 5px;
    font-weight: 500;
    display: block;
}

input, select{
    display: block;
    padding: 10px;
    border: 1px solid #bab9ff;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 15px;
}

select{
    color: #2454f3;
    cursor: pointer;
    font-size: 14px;
    background-color: #fff;
    height: 39px;
     border: 1px solid #bab9ff;
}

input::placeholder{
     color: #2454f3;
}

.side{
    display: flex;
    gap: 15px;
}

.full-name, .location{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.phone-row{
    display: flex;
    align-items: center;
    border:  1px solid #bab9ff;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
}

.phone-row select{
  border: none;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 2px;
}

.phone-row input{
   border: none;
   padding: 10px;
   font-size: 14px;
   margin-bottom: 2px;
}

.character{
    font-size: 13px;
}

button{
    background-color: #2454f3;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


.sign-in{
    text-align: center;
    font-size: 14px;
}

.sign-in a{
    text-decoration: none;
}

.sign-in a:hover{
    text-decoration: underline;
    color: #2454f3;
}

.privacy{
    margin-top: 2rem;
    text-align: center;
}

.privacy p{
    font-size: .9rem;
}

.privacy a{
    text-decoration: none;
    cursor: pointer;
    color: #4d4af3;
    font-size: .8rem;
}

.sign{
    margin-bottom: -10px;
}
.privacy a:hover{
    text-decoration: underline;
}

@media (max-width:500px){
    
.card{
    padding: 7px 10px;
    max-width: 80%;
   }

.logo{
    margin-left: 12rem;
}

   h2{
    font-size: 20px;
   }

label{
    margin: 10px 0 4px;
    font-size: 14px;
}

input, select{
    padding: 7px;
    font-size: 12px;
}

select{
    font-size: 13px;
}

.side{
    gap: 10px;
}

.character{
    font-size: 11px;
}

button{
    font-size: 13px;
}

.sign-in{
    font-size: 12px;
    margin-top: -10px;
}

.privacy p{
    font-size: 12px;
}

.privacy a{
    font-size: 1px;
}
}

@media (max-width:400px){
.privacy p{
    font-size: 12px;
}

.privacy a{
    font-size: 11px;
}
}
