.page-profile{
    background:linear-gradient(to bottom, 
    rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%),
 url("/public/Images/bg-profile.jpg");
    background-size: cover;
    padding: 0;
    color: #2454f3;
    border-radius: 10px;
    min-height: 150vh;
    margin-top: -5rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
    align-items: center;
}

.access-2{
    position: relative;
   top: 46rem;
    left: 33rem;
    color: #fff;
}

.progress-2{
     position: relative;
    top: 46rem;
    left: 33rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 25%;
}

.card-2{
     background-color: #fff;
    padding: 10px 15px;
     margin-left: 60rem;
    min-height: 80vh;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba( 0, 0, 0, 0.5);
}

h2{
    margin-bottom: 20px;
}

.profile-image-upload{
    display: flex;
    justify-content: center;
    margin-bottom: .8rem;
}

.image-preview{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: borer-color 0.3s;
}

.image-preview:hover{
    border-color: #007bff;
}

.image-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-placeholder{
    font-size: 2rem;
    color: #888;
}

form{
    display: flex;
    flex-direction: column;
}

labe{
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea{
    padding: 10px;
    border: 1px solid #03398c;
    font-size: 14px;
    margin-bottom: 10px;
}

textarea{
    min-height: 100px;
    resize: vertical;
}

.document-upload {
  margin-bottom: 1rem;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 6px;
  padding: 1.2rem;
  cursor: pointer;
  background: #f9f9f9;
  transition: border-color 0.3s, background 0.3s;
  text-align: center;
}

.upload-box:hover {
  border-color: #007bff;
  background: #f0f8ff;
}

.upload-icon {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: #007bff;
}

.upload-icon img{
    height: 3rem;
}

.upload-text {
  font-size: 0.95rem;
  color: #555;
}

button{
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #2454f3;
}

@media (max-width:500px){
.card-2{
     padding: 7px 10px;
    max-width: 85%;
    margin-left:2rem;
    min-height: 95vh;
    margin-top: -5rem;
}

.access-2{
    position: relative;
    top: 55rem;
    left: 4rem;
  font-size: 1.4rem;
}

.progress-2{
     position: relative;
    top: 54rem;
    left: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
}

.profile-image-upload{
    margin-bottom: .5rem;
}

.image-preview{
    width: 90px;
    height: 90px;
}

label{
    margin: 8px 0 4px;
}

input, textarea{
    padding: 8px;
    font-size: 14px;
}

.document-upload {
  margin-bottom: 1rem;
}

.upload-box {
  padding: 1rem;
}

.upload-icon {
  font-size: 2rem;
}

.upload-text {
  font-size: 0.9rem;
}

button{
    padding: 10px;
    font-size: 15px;
}
}

@media (max-width:400px){
    .card-2{
        margin-left: 1rem;
        margin-top: 3rem;
    }


.access-2{
    position: relative;
    top: 55rem;
    left: 3rem;
    font-size: 1rem;
}

}
 